provider "aws" {
access_key = "AKIARN5OOVPJJV54BLCY"
secret_key = "FWia1qKnmzC2GBQHm7gVOnQz6BJZ3X2NFumOCgB3"
region = "Global"
}
resource "aws_instance" "example" {
ami = "ami-13be557e"
instance_type = "t2.micro"
}
